instruction.css
body{
background-color:white;
}
.div1 ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:black;
}
.div1 li{
float:left;
}
.div1 li a{
display:block;
color:white;
text-align:center;
font-size:16px;
padding:10px 50px;
text-decoration:none;
}
.div1 li a:hover{
background-color:powderblue;
}
.active{
background-color:grey;
}
.ins li{
font-size:20px;
}
.ins table,td{
  border:1px solid black;
 background-color:lightblue;
}
.ins a{
text-decoration:none;
color:blue;
}
